!!!
%html

%body.jour
  .container-jour
    %h1.journey-header Liiife, in photos

    %form#places_form
      .row{role: "search"}
    %input#autocomplete
      .form{placholder: "search", type: "text"}

    #map-canvas

    :javascript
      window.photos = #{@photos.to_json}
