!!!
%html

%body.jour
  .container-jour
    %h1.journey-header Liiife, in photos

    #map-canvas

    %h4 Search Box

    :javascript
      window.photos = #{@photos.to_json}

    %form#places_form
      .row{role: "search"}
    %input#autocomplete
      .form-control{placholder: "search", type: "text"}
