!!!
%html
  %head
    %h1 My Journey through London

  %h2.journey Liiife, through Photos
  #map-canvas

  %h3 AUTOCOMPLETE

  :javascript
    window.photos = #{@photos.to_json}

  %form#places_form
    .row{role: "search"}
  %input#autocomplete
    .form-control{placholder: "search", type: "text"}
