!!!
%html
  %head
    %title Final Project

  %body
  / = image_tag "/assets/photography/yea_3.JPG", width: 1180, height: 580
  %ul.slider
    %li
      %img.carousel{src: "/assets/photography/yea_3.JPG"}/
    %li
      %img.carousel{src: "/assets/photography/london_town.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/london_underground.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/london_town2.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/william_gig.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/london_town3.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/long_exposure.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/jordania.JPG"}/
    %li
      %img.carousel{src: "/assets/photography/long_exposure2.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/girls_girls_girls.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/football.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/cinema.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/ladies_innit.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/room_view.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/westway_william.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/yea_2.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/piccadilly.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/maxd_tube.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/on_the_road.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/london_snow.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/piccadilly_tube.jpg"}/
    %li
      %img.carousel{src: "/assets/photography/jr.jpg"}/

