!!!
%html
  %head
    %title Final Project

  %body
    %h1 The most beautiful homepage in the history of mankind!

  / = image_tag "/images/photography/yea_3.JPG", width: 1180, height: 580
  %ul.slider
    %li
      %img.carousel{src: "/images/photography/yea_3.JPG"}/
    %li
      %img.carousel{src: "/images/photography/london_town.jpg"}/
    %li
      %img.carousel{src: "/images/photography/london_underground.jpg"}/
    %li
      %img.carousel{src: "/images/photography/london_town2.jpg"}/
    %li
      %img.carousel{src: "/images/photography/william_gig.jpg"}/
    %li
      %img.carousel{src: "/images/photography/london_town3.jpg"}/
    %li
      %img.carousel{src: "/images/photography/long_exposure.jpg"}/
    %li
      %img.carousel{src: "/images/photography/jordania.JPG"}/
    %li
      %img.carousel{src: "/images/photography/long_exposure.jpg"}/
    %li
      %img.carousel{src: "/images/photography/girls_girls_girls.jpg"}/
    %li
      %img.carousel{src: "/images/photography/football.jpg"}/
    %li
      %img.carousel{src: "/images/photography/cinema.jpg"}/
    %li
      %img.carousel{src: "/images/photography/ladies_innit.jpg"}/
    %li
      %img.carousel{src: "/images/photography/room_view.jpg"}/
    %li
      %img.carousel{src: "/images/photography/stamford_bridge.jpg"}/
    %li
      %img.carousel{src: "/images/photography/westway_william.jpg"}/
    %li
      %img.carousel{src: "/images/photography/yea_1.jpg"}/
    %li
      %img.carousel{src: "/images/photography/yea_2.jpg"}/
    %li
      %img.carousel{src: "/images/photography/piccadilly.jpg"}/
    %li
      %img.carousel{src: "/images/photography/maxd_tube.jpg"}/
    %li
      %img.carousel{src: "/images/photography/on_the_road.jpg"}/
    %li
      %img.carousel{src: "/images/photography/london_snow.jpg"}/
    %li
      %img.carousel{src: "/images/photography/piccadilly_tube.jpg"}/
    %li
      %img.carousel{src: "/images/photography/jr.jpg"}/

