!!!
%html
  %head
    %title Final Project

  %body
    -if user_signed_in?
      = link_to('Logout', destroy_user_session_path, :method => :delete)
    -else
      = link_to('Login', new_user_session_path)

    -if user_signed_in?
      = link_to('Edit registration', edit_user_registration_path)
    -else
      = link_to('Register', new_user_registration_path)


    %h1 The most beautiful homepage in the history of mankind!
