$primary-light      : #00D6DD;
$primary            : #00AFB5;
$secondary          : #ACCF00;
$secondary-light    : #D4FF00;
$pop                : #D13494;
$pop-light          : #FF3FB4;
$grey_dark          : #303233;
$grey_mid           : #212323;
$grey_light         : #ABC4CA;

$heading : 'Droid Sans Mono', 'Helvetica', 'Arial', sans-serif;
$heading-weight : 'Normal 400';
$subheading : 'Roboto', 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
$subheading-weight: 400;
$main: 'Helvetica', 'Arial', sans-serif;
$main-weight: normal;

/***** Panels *************************************/
// .panel-primary{
//   border-color: $primary;
// }
// .panel-primary > .panel-heading{
//   background-color: $primary-light;
//   border-color: $primary;
// }
// .panel-primary > .panel-heading {
//   background-color: $primary-light;
//   border-color: $primary;
//   margin-bottom: 0px;
//   padding-bottom: 0px;
//   font-weight: normal;
// }


// form {
//   // text-align: center;
// }

// .form-group {
//   text-align: center;
// }

#sign-in {
  margin: 0 auto;
  width: 300px;

  .sign-in-box {

  }
}
