$chelsea-blue       : #0004FF;
$blue-mid           : #566E9C;
$blue-light         : #71B9D1;
$black              : #000000;
$black-light        : #16262B;
$grey_dark          : #303233;
$grey_mid           : #212323;
$grey_light         : #ABC4CA;

$heading : 'Droid Sans Mono', 'Helvetica', 'Arial', sans-serif;
$heading-weight : 'Normal 400';
$subheading : 'Roboto', 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
$subheading-weight: 400;
$main: 'Helvetica', 'Arial', sans-serif;
$main-weight: normal;

.slider {
  /*margin: 10px 0;*/
  width: 1195px; /* Update to your slider width */
  height: 580px; /* Update to your slider height */
  position: relative;
  overflow: hidden;
}

.slider li {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

img.carousel {
  margin: 0px;
  width: 1200px;
  height: 580px;
}

img.logo {
  float: left;
  padding: 10px;
  width: 120px;
  height: 80px;
}

img.nav-avatar {
  width: 70px;
  height: 75px;
  border: 2px solid white;
}

.nav {
  position:fixed;
  top:0;
  left:0;
  bottom:50px;
  right:0;
  height:75px;
  background: white;
  // border-bottom:1px solid #444;
}

.nav ul.right {
  float: right;
  margin-right:1em;
  list-style-type:none;
  font-weight: bold;
}

.nav ul.left {
  float: left;
  margin-top: 3px;
  padding:10px;
  list-style-type:none;
  font-weight: bold;
}

ul.logged_out {
  // float: right;

  .sign_up {
    float: right;
    padding: 10px;
    padding-top: 34px;
    padding-left: 20px;
    border-bottom: 7px solid #71B9D1;
  }
  .sign_in {
    float: right;
    padding: 10px;
    padding-top: 34px;
    border-bottom: 7px solid #71B9D1;
  }
}

