$chelsea-blue       : #0004FF;
$blue-mid           : #566E9C;
$blue-light         : #71B9D1;
$black              : #000000;
$black-light        : #16262B;
$grey_dark          : #303233;
$grey_mid           : #212323;
$grey_light         : #ABC4CA;

$heading : 'Droid Sans Mono', 'Helvetica', 'Arial', sans-serif;
$heading-weight : 'Normal 400';
$subheading : 'Roboto', 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
$subheading-weight: 400;
$main: 'Helvetica', 'Arial', sans-serif;
$main-weight: normal;

.container-dash {
  background: aliceblue;
}

#map-canvas {
  height: 450px;
  border: 7px solid #71B9D1;
}

.nav-avatar {
  height: 50px;
  position: relative;
  // border-radius: 30%;
}

img {
  width: 320px;
  height: 250px;
}

// DASHBOARD

.photos-dash {
  text-align: center;
  .photo-dash {
    display: inline-block;
    margin-left: 20px;
    border-image: 50px white;
    font-weight: bold;
  }
  .picture {
    border: 10px solid #4791D1;
  }
}

#dashboard-links {
  float: left;

  .photo-add-link {
    display: inline-block;
    padding: 7px 11px;
    // padding-left: 11px;
    // padding-right: 11px;
    // padding-bottom: 7px;
    // padding-top: 7px;
    margin-top: 8px 0;
    position: relative;
    background: white;
    background-color: black;
    font-weight: bold;
    font-size: 17px;
    font-family: Droid Sans Mono;
  }

  .user-profile-link {
    display: inline-block;
    padding: 7px 11px;
    float: left;
    margin-top: 8px 0;
    position: relative;
    background: white;
    background-color: black;
    font-weight: bold;
    font-size: 17px;
    font-family: Droid Sans Mono;
  }
}

// JOURNEY
.journey-header {
  text-align: center;
}

.container-jour {
  background: aliceblue;
}


// USERS ALL

.photos-users-index {
  text-align: center;
  .photo-users-index {
    display: inline-block;
    margin-left: 20px;
    border-image: 50px white;
    font-weight: bold;
  }
  .user-avatar {
    border: 10px solid #4791D1;
  }
}


// USER SHOW PAGE

.users-show {
  border: 10px solid #4791D1;

  .user-show-username {
    border-bottom: 2px solid #4791D1;
    text-align: center;
  }

  .user-show-name {
    font-size: 22px;
    padding-left: 20px;
    padding-top: 20px;
  }

  .user-show-avatar {
    padding-left: 20px;
  }
  .user-show-location {
    padding: 20px;
  }
  .user-show-aboutme {
    padding: 20px;
  }
}
