$chelsea-blue       : #0004FF;
$blue-mid           : #566E9C;
$blue-light         : #71B9D1;
$black              : #000000;
$black-light        : #16262B;
$grey_dark          : #303233;
$grey_mid           : #212323;
$grey_light         : #ABC4CA;

$heading : 'Droid Sans Mono', 'Helvetica', 'Arial', sans-serif;
$heading-weight : 'Normal 400';
$subheading : 'Roboto', 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
$subheading-weight: 400;
$main: 'Helvetica', 'Arial', sans-serif;
$main-weight: normal;

.container-dash {
  // margin: 30px;
  // padding: 30px;
  background: blue;
}

#map-canvas {
  height: 450px;
  border: 7px solid #71B9D1;
}

.nav-avatar {
  height: 50px;
  position: relative;
}


img {
  width: 300px;
  height: 200px;
}

.journey {
  text-align: center;
  padding: 10px;
}

// .img {
//   width: 33%;
//   height: 33%;
//   float: left;
//   padding: 0px;
//   display: inline-block;
// }

